/* Set font family and size for the entire page */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  
  /* Style the header */
  header {
    background-color: #E2c8A9;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Style the logo */
  #title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px #000000;
    margin: 0;
  }
  
  /* Style the navigation menu */
  nav {
    display: flex;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #000;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  
  /* Style the main section */
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  #primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  
  #services {
    text-align: center;
    margin: 20px;
  }
  
  #secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  
  #our_mission {
    text-align: center;
    margin: 20px;
  }
  
  /* Style the footer */
  footer {
    background-color: #cccccc;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the address n the footer */
  address {
    font-style: normal;
    margin-top: 20px;
  }
  
  #services-nav {
    background-color: white;
  }
  
  #services-nav a {
    
    color: #000;
   
  }