html {
    font-size: 100%;
    background-color: #000000;
    color: rgb(62, 0, 0);
}
header { background-color: #36311F;
        border: 1px solid black;
        color: black;

}
nav {color: rgb(255, 253, 253);

}
body {color: rgb(179, 156, 156);}
h2,
p {color: rgb(255, 255, 255);}