html {
    font-size: 100%;
    background-color: #fff;
    color: #000;
   
}
header { background-color: #E2c8A9;
        border: 1px solid black;
        color: black;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
}
header nav ul{
    position: absolute;
     bottom: 0;
     right: 0; 
}


body {font-family:Arial, Helvetica, sans-serif;
    background-color: #7a644a;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: rgb(50, 48, 48);}



footer {
    background-color: #e2c8a9;
    border: 1px solid black;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
